<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/error-style.css">
</head>
<body>
<div class="error-container">
    <h1>Oops!</h1>
    <h2>Something went wrong...</h2>
    <img src="https://image.cnbcfm.com/api/v1/image/104994086-RTX4RL3Z.jpg?v=1534179983" height="300">
    <div class="error-details">
        <p>It seems like we're unable to process your request at the moment.</p>
        <p th:text="${errorMessage}">Error details here.</p>
    </div>
    <a href="/" class="back-link">Take me back Home</a>
</div>
</body>
</html>